#total-orders {
    background-color: #4cb4c7;
}

#orders-delivered {
    background-color: #7abecc;
}

#orders-pending {
    background-color: #7cd1c0;
}

#logo {
    width: 2.2em;
    filter: invert(1);
}

body {
    background-color: #ebeff5;
}

// select {
//     width: 100%;
//     display: block;
//     border: none;
//     border-bottom: 1px solid #000;
//     background-color: transparent;
//     margin: 1em 0;
//     padding: 0 1em;
//     height: 1.4em;
// }

